<a href="https://colab.research.google.com/github/SANGRAMLEMBE/100_days_of_ML/blob/main/Day_16_working_with_json_sql/Day_16_working_with_json_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# working with Json

In [ ]:
pd.read_json('train.json')

FileNotFoundError: File train.json does not exist

In [ ]:
pd.read_json('https://www.floatrates.com/daily/usd.json')

,aud,cad,chf,cny,eur,gbp,hkd,idr,inr,jpy,...,wst,xaf,xcd,xcg,xof,xpf,yer,zmw,irr,syp
code,AUD,CAD,CHF,CNY,EUR,GBP,HKD,IDR,INR,JPY,...,WST,XAF,XCD,XCG,XOF,XPF,YER,ZMW,IRR,SYP
alphaCode,AUD,CAD,CHF,CNY,EUR,GBP,HKD,IDR,INR,JPY,...,WST,XAF,XCD,XCG,XOF,XPF,YER,ZMW,IRR,SYP
numericCode,036,124,756,156,978,826,344,360,356,392,...,882,950,951,532,952,953,886,967,364,760
name,Australian Dollar,Canadian Dollar,Swiss Franc,Chinese Yuan,Euro,U.K. Pound Sterling,Hong Kong Dollar,Indonesian Rupiah,Indian Rupee,Japanese Yen,...,Samoan tala,Central African CFA Franc,East Caribbean Dollar,Caribbean guilder,West African CFA Franc,CFP Franc,Yemeni rial,Zambian kwacha,Iranian rial,Syrian pound
rate,1.560242,1.385589,0.824872,7.272983,0.878623,0.746265,7.757969,16772.981704,85.191164,142.58002,...,2.76198,576.766904,2.699991,1.790029,576.766904,104.925437,245.010112,28.021015,41758.888889,12959.655172
date,"Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT",...,"Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT","Tue, 29 Apr 2025 15:55:13 GMT"
inverseRate,0.640926,0.721715,1.21231,0.137495,1.138144,1.340006,0.1289,0.00006,0.011738,0.007014,...,0.362059,0.001734,0.370372,0.55865,0.001734,0.009531,0.004081,0.035688,0.000024,0.000077

# working with SQL

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 4.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
import pymysql

In [ ]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='Sangram@27',
    database='world'
)

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([Errno 99] Cannot assign requested address)")

In [5]:
pd.read_sql_query('select * from city WHERE Countrycode LIKE 'IND'',conn)

NameError: name 'pd' is not defined

In [6]:
pd.read_sql_query("select * from country WHERE LifeExpectancy >60",conn)

NameError: name 'pd' is not defined

In [7]:
df = pd.read_sql_query("select * from countrylanguage",conn)
df

NameError: name 'pd' is not defined